---
import '../index.css';
import logoWhite from '../assets/images/logo-white.png';
import Footer from '../components/Footer.astro';
import SocialLinks from '../components/SocialLinks.astro';
import StravaDashboard from '../components/StravaDashboard.astro';
import VideoList from '../components/VideoList.astro'; // {{ edit: Import VideoList component }}
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚴‍♂️</text></svg>'
    />
    <meta name='viewport' content='width=device-width' />

    <meta name='generator' content={Astro.generator} />
    <title>ridetime | Chodź na rower</title>
    <meta name='description' content='Rowery, ubrania, sprzęt i trasy - dla fanów kolarstwa.' />
  </head>
  <body class='bg-ridetime-dark'>
    <div class='mx-auto max-w-7xl p-4 space-y-8'>
      <div class='flex flex-col gap-y-4 sm:gap-y-0 sm:flex-row items-center justify-between'>
        <img src={logoWhite.src} alt='ridetime logo' class='h-16' />
        <SocialLinks showLabels={true} />
      </div>

      <StravaDashboard
        client:load
        currentYearDistance={4719.6}
        currentYearActivities={101}
        latestActivityUrl={'https://www.strava.com/activities/12456752506'}
      />

      <VideoList videos={regularVideos} shorts={shorts} />

      <Footer />
    </div>
  </body>
</html>
